h1 {
  color: #aaccff;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 36px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}
body {
  background-color: #222233;
}
/* .chart {
  padding: 50px;
} */
